* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Segoe UI';
    user-select: none;
    font-weight: lighter;
}

body {
    background: url(./imgs/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.lock-screen {
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    padding: 10px;
    position: relative;
    opacity: 0;
    transform: translateY(-50vh);
    /* cubic bezier of 3s, windows 10 style */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}

.lock-screen.open {
    opacity: 1;
    transform: translateY(0px);
}

.lock-screen .content .calender {
    position: absolute;
    bottom: 70px;
    left: 40px;
}

.lock-screen .content .calender h1 {
    font-size: 100px;
    text-shadow: 0px 0px 20px black;
}

.lock-screen .content .calender p {
    font-size: 30px;
    text-shadow: 0px 0px 20px black;
}





.login-screen {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.548);
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.login-screen.open {
    opacity: 1;
    visibility: visible;
}

.login-screen .users {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.login-screen .users .user {
    width: 220px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.login-screen .users .user.active {
    background: #0078d7;
}

.login-screen .users .user:active * {
    transform: scale(0.95);
}

.login-screen .users .user:hover {
    background: rgba(116, 116, 116, 0.37);
}

.login-screen .users .user * {
    display: inline-block;
    vertical-align: top;
}

.login-screen .users .user img {
    width: 50px;
    border-radius: 100%;
}

.login-screen .users .user p {
    /* Vertically center    */
    line-height: 50px;
    margin-left: 10px;
}

.login-screen .form {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-screen .form h1 {
    font-size: 50px;
}

.login-screen .form img {
    border-radius: 100%;
    margin-bottom: 20px;
}

.login-screen form * {
    display: inline-block;
    vertical-align: top;
}

.login-screen form .icon {
    background: gray;
    padding-top: 5px;
    transform: translateY(20px) translateX(-5px);
    height: 30px;
    width: 30px;
}

.login-screen .form input {
    width: 300px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid rgb(116, 116, 116);
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
    outline: none;
    margin-top: 20px;
}

.login-screen .form input:hover+.icon {
    background: rgb(190, 190, 190);
    color: black;
}

.login-screen .form input:hover {
    border: 2px solid rgb(190, 190, 190);
    background-color: rgba(0, 0, 0, 0.527);
}

.login-screen .form input:focus {
    background: white;
    color: black;
}

.login-screen .form input:focus::placeholder {
    color: gray;
}

.login-screen .form input::placeholder {
    color: white;
}

.login-screen .form .reset {
    margin-top: 10px;
    color: gray;
}

.options {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.options .option {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    margin: 5px 1px;
}

.options .option:hover {
    background: rgba(116, 116, 116, 0.37);
}

.options .option img {
    width: 40px;
}

.options .option:active img {
    transform: scale(0.9);
}




.shutdown-div {
    width: 100vw;
    height: 100vh;
    background: #0078d7;
    text-align: center;
}

.shutdown-div .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.35);
}

.shutdown-div .content .shutdown-loader {
    margin-left: 55px;
}






.loader {
    transform: translateX(-20px);
    width: 50px;
    height: 50px;
    margin: auto;
}

.loader .circle {
    position: absolute;
    width: 38px;
    height: 38px;
    opacity: 0;
    transform: rotate(225deg);
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-duration: 5.5s;
}

.loader .circle:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    /* margin: 20px; */
    border-radius: 5px;
    background: #fff;
}

.loader .circle:nth-child(2) {
    animation-delay: 240ms;
}

.loader .circle:nth-child(3) {
    animation-delay: 480ms;
}

.loader .circle:nth-child(4) {
    animation-delay: 720ms;
}

.loader .circle:nth-child(5) {
    animation-delay: 960ms;
}

.loader .bg {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 13px;
    animation: bgg 16087ms ease-in alternate infinite;
}

@keyframes orbit {
    0% {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }

    7% {
        transform: rotate(345deg);
        animation-timing-function: linear;
    }

    30% {
        transform: rotate(455deg);
        animation-timing-function: ease-in-out;
    }

    39% {
        transform: rotate(690deg);
        animation-timing-function: linear;
    }

    70% {
        transform: rotate(815deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }

    75% {
        transform: rotate(945deg);
        animation-timing-function: ease-out;
    }

    76% {
        transform: rotate(945deg);
        opacity: 0;
    }

    100% {
        transform: rotate(945deg);
        opacity: 0;
    }
}

.death {
    width: 100vw;
    height: 100vh;  
    background: black;
    cursor: none;
}

.blue-death {
    background: #0078d7;
    width: 100vw;
    height: 100vh;
    padding: 40px 100px;
}

.blue-death .sad-face {
    font-size: 150px;
}

.blue-death p {
    font-size: 40px;
    width: 70%;
}


.inline * {
    display: inline-block;
    vertical-align: top;
}

.inline p {
    font-size: 20px !important;
    margin-left: 20px;
}